<footer class="cloak">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 left">
                <div class="brand h2"><b>AirSoft</b></div>
            </div>
            <div class="col-sm-6 small right">
                <p>Designed by Abel</p>
                <p>Proudly powered by Artist</p>
                <p>© 2016 AirSoft All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>