{% extends "_bootstrap.twig" %}

{% block style %}
    {{ parent() }}

    <style>
        .parallax-window {
            min-height: 500px;
            background: transparent;
            margin-bottom: 2em;
        }

        .spot {
            position: absolute;
            color: white;
            text-shadow: 2px 2px 15px #2a323a,
            2px 2px 20px #2a323a,
            2px 2px 20px #2a323a,
            2px 2px 20px #2a323a,
            2px 2px 20px #2a323a,
            2px 2px 20px #2a323a;
        }

        .article.container{
            max-width: 800px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="parallax-window" data-parallax="scroll" data-image-src="../wallhaven-215913.jpg">
        <h1 class="spot">可是，我依然没有遇见你</h1>
    </div>

    <div class="article container">
        <div class="text-center">
            <ul class="list-inline small">
                <li>四月 9, 2016</li>
                <li>阅读 1501</li>
                <li>字数 3689</li>
                <li>评论 5</li>
            </ul>
        </div>

        <hr>

        <p>我们为爱情付出了那么多，可它也从没有回报我们以安详。<br>
            <br>
            好像每个二十几岁的年轻女孩子都要有一个说出来像那么回事的梦想，否则显得我们头脑空空，胸小还无脑。据说这个阶段的梦想，是从学校出来进入婚姻前一个很好的过渡。<br>
            <br>
            这样的梦想我听过好多，比如找个好男人，比如坐在宝马车里笑，比如要开一家咖啡店，再比如毕业后要嫁给陈莫北。最后一个是徐砚美说的，在一个喝得差不多都人仰马翻的饭局上，她像抢答题目一样火急火燎地吐出这句话，四周立刻哄声一片，大家为了她这句豪言壮语又干了一杯。包括男主角陈莫北，他也遥遥举杯，向我浅浅笑了笑。<br>
            <br>
            可是我依然没有遇见你<br>
            <br>
            讨厌的徐砚美抢了我的最佳答案，所以轮到我时，我只好说我的替补答案，“我要在南京买一套房子，把厨房刷成雪白一片，然后坐在一堆蔬菜水果中等我爱的男人来找我。”<br>
            <br>
            他们嘘声一片，真是讨厌，大家都爱时不时歧视下文艺女青年。不过陈莫北又对我笑了，真是好看。我立刻回了一个对镜子练过百遍的笑，然后我就收到徐砚美硕大的白眼，短信随之而来：“浑蛋陆安琪。”<br>
            <br>
            故事讲到这里，我觉得我应该帮大家捋一下人物关系。我叫陆安琪，徐砚美是我好到可以换穿衣服的闺密，我们的友谊始于幼儿园的大白兔奶糖。可是半年前，我们的友谊出现了裂痕，原因就是我们同时看上了一个叫陈莫北的帅小伙。大白兔奶糖比不上恒久远的钻石，有一阵儿我们都陷入了非常痛苦的境地。<br>
            <br>
            最后我们终于找到了出路，那就是公平竞争，无论陈莫北选择谁，另外一个都要发自内心地祝福百年好合，但是可以免除婚宴的份子钱，以抚慰心碎。<br>
            <br>
            那个时候，我和徐砚美觉得，陈莫北就像草莓这种娇贵的水果，即使在夜晚吃也不会发胖。他不会影响我们闺密的感情。<br>
            <br>
            大四的最后半年，每周五我和徐砚美会拖着两个行李箱去仙林地铁站的过道里摆摊，贱卖我们只穿过一次的衣服。天哪，你都想象不到我们有多少家当，当然你也想象不到我们的生意有多火爆。徐砚美很有特色地吆喝着：“原单美衣，平价热销。”回头客都是小学妹们，热情地问：“美美姐，你们下次还是这个时候来吗？美美姐给我们算便宜点吧。”负责收钱的我一脸严肃：“不可再少啦，学姐已经快亏得吐血了！”<br>
            <br>
            最厉害的一次，我们赚了1500元，拿着这笔就像是抢来的巨款，简直不知道该怎么办好。我们你看看我，我看看你，坐在过道的楼梯里哈哈大笑。那时候我想，如果可以一辈子和徐砚美这么赚钱、生活在一起，该有多好。可是我们笑着笑着就没声了，同时吐出一句话：“不然请陈莫北吃饭吧。”<br>
            <br>
            我们去吃二十四小时不打烊的牛蛙王子，这顿热气腾腾的火锅宾主尽欢，只有一点点伤感。我们三个人勾肩搭背，张扬地走在宁海路的夜色里，陈莫北看看我，又看看徐砚美，说：“带两位美丽的姑娘去唱歌好不?好？”<br>
            <br>
            夜晚的宁海路很美，不是你们说的脏、乱、差。入夜以后，小餐馆都静悄悄地关上了门，只留下这一整条街温暖厚实的生活味道，让你觉得你可以在这条街上住一辈子。毕业后很久，我都会时常去那里从路的一头走到另一头。我的记忆美化了宁海路，因为在这条路的十字路口，陈莫北和我深深拥抱，他说舍不得我。<br>
            <br>
            我没有预想到那顿火锅会是我们三个人在一起吃的最后一顿饭，毕业后，徐砚美跟着陈莫北去了北京。他们问我要不要一起去，我坚决地说：“不要，我在自己的地盘好好赚钱。”他们两个都笑了，像大人看着小孩一般地笑着，陈莫北甚至摸了摸我的头，说：“真是个小财迷啊。”徐砚美也没有吃醋。因为她现在根本不会介意这点小小的恩惠。<br>
            <br>
            我扭头往学校走的时候就掉眼泪了。陈莫北选择徐砚美，是因为有一天晚上他们上床了。徐砚美对我说：“安琪，对不起。可是这是我应得的。我豁得出自己，如果他不选我，那我当最后一次任性；如果他因此选择我，那是我赌赢了。”<br>
            <br>
            徐砚美赌赢了，我心服口服。可是我的心里很难过。<br>
            <br>
            他们走的那一晚，我一个人在系里的散伙饭上喝得酩酊大醉，还不时地要吟诗，念念叨叨就那一句：“海内存知己，天涯若比邻。”同学们都为我鼓掌，说陆安琪太大气了，我们散了也不能忘了，海内存知己，天涯若比邻啊。<br>
            <br>
            可是就是在陈莫北和徐砚美走的一年多后，我才知道这句诗是骗人的。何况诗人本来都是骗子，他们自己都穷得连泡面都吃不起了，他还要告诉你“面朝大海，春暖花开”。<br>
            <br>
            我一个人孤零零地留在南京，深夜去吃永不打烊的牛蛙王子，喝一丁点儿酒，望着沸腾的火锅，慢慢唱：“天之涯，海之角，知交半零落……”像毕业的时候，反反复复只有一句。但是我是清醒的，因为再没有人会打车来给我付钱，再没有人给我换上干净的衣服塞进被窝。我摇摇晃晃地站起来，结账出门，搭上出租车，对师傅说：“去宁海?路。”<br>
            <br>
            毕业的一年后，我住在南京的宁海路，他们住在北京的蓑衣胡同。徐砚美给我打电话说：“安琪，你真应该来北京住上一年半载，虽然这里空气很差，交通糟糕，可是每一个路人身上都有故事！我们都要爱死这里?了。”<br>
            <br>
            陈莫北说：“我们家附近的南锣鼓巷开发得很好，尔等文艺青年一定会发狂般热爱这里。”几秒钟后，他把“我们家”换成了“我们住的地方”。我在电话这头好像很开心地笑：“你们做好准备哦，等着哀家圣?驾。”<br>
            <br>
            他们不知道，其实后来我去过一次北京，我去了另外一条巷子叫五道营胡同。他们也不知道，几年前，这条胡同欲和南锣鼓巷比高低，热闹了一阵儿，可是后来它输了，变得旧而安静。好像我和徐砚美。我去的那天，天气是灰黄色的，一个旧院子，一个个老丝瓜挂在墙上，红灯笼张灯结彩，老树旁围着木桌木椅，一个老太太坐在一家照相馆前，晒着不明不白的夕阳。<br>
            <br>
            再往前走就是雍和宫了，我去许了一个愿，应该是关于陈莫北的，可是我不记得内容了。<br>
            <br>
            陈莫北说过，我像是他无法放弃的工作日，而徐砚美是他美妙的假期。他也很痛苦。而年轻时，我和徐砚美都觉得，我们中的一个一定会嫁给陈莫北。可是我们都没有想到其实还可以有另外一个答案，那就是最后陈莫北会娶一个陌生女人，而我们都没有那样的想法了。<br>
            <br>
            我和徐砚美久别重逢是在五年后，一个明媚的春日，阳光是明亮的，万物生，草在结它的种子，风在摇它的叶子，我和这个孕妇约在五道营的胡同喝酒。她还是那么任性，一瓶红的见底，又要开一瓶白葡萄酒。孩子不是陈莫北的，她扭着手上的大钻戒娇声向我抱怨结婚太麻烦了。<br>
            <br>
            那是一场太漫长的聊天，从正午一直到深夜，陈莫北出现的次数很少，大部分时间她和我讲她亲爱的老公。可是提起陈莫北的时候，我们都是很寥落的模样。徐砚美指着她的英式早餐，说：“安琪，我给你讲个故事吧。草莓不喜欢又胖又油的火腿肉，她不要坐在宝马车里哭，要和漂亮优雅的紫椰菜私奔。后来他们就去了一个大城市，工作买房生孩子，时间过去了，他们就渐渐想不起当初为什么会相爱。可是有钱的火腿肉和荷包蛋却过得非常好，想不起当初为什么瞧不上彼此。”她醉眼蒙眬地看了我一眼，继续说，“这个故事告诉我们，如果不在一个人身上寄予太宏大的意义，爱情就会很平安，一生无虞。”<br>
            <br>
            那些不切实际的期待与想象，毁了我们的爱情。如果那个时候我们了解尊重男人，只把陈莫北当作一个生活伴侣，那么一切都简单多了。<br>
            <br>
            我和徐砚美告别的时候，我在门口摔了一大跤，她扶我起来，又哈哈大笑，像当年在仙林的地下过道里笑得那样开怀。让我恍惚觉得时间又流回来了。可那是假的，时间过去了那么久，我们都老了好几岁。因为陈莫北，失去联络好多年。<br>
            <br>
            走的时候我回头对徐砚美说了最后一句话，我说：“他从未为我们付出什么，我们却都以为在他身上看到了翅膀。”<br>
            <br>
            我在南京买下第一套小户型房子的时候，陈莫北终于回来了，但是我们很少联络。厨房装修好的那一天，我在微博上发了一张照片，我说：“我在伊朗遇到一个跪坐在玻璃彩窗下阅读的人，可我没有遇见你；我在巴黎遇到一个刚离婚自由得像鸟儿的女人，可我没有遇见你；我终于拥有了一间铺满阳光的屋子，有雪白的厨房和温柔的浴缸，蔬菜都很年轻，水果沾着露珠，可是我依然没有遇见你。”陈莫北在下面回复“约我喝咖啡”。我扔下电脑，翻箱倒柜。<br>
            <br>
            有的时候我觉得自己是个落伍的人，我像中世纪西方的那些年轻lady，她们用一整段漫长的青春时光为自己准备了一箱嫁妆。我的爱情是不合时宜的，就像我要去见陈莫北，一定要坐最慢的车，因为等待与靠近，才是爱情里最美妙、最没有伤害的部分。<br>
            <br>
            陈莫北开车带我去紫金山上兜风，外面春寒料峭，我们吹着温暖的空调，喝冷冷的啤酒，听万芳唱《新不了情》。音乐结束的时候，我向陈莫北求婚。<br>
            <br>
            我说：“如果你累了，不想再去哪里了，你可以和我结婚。”<br>
            <br>
            他说：“安琪，这对你不公平。”<br>
            <br>
            “我知道，可是我还是很爱你。”<br>
            <br>
            可是最后他还是拒绝了我，离开南京，去了一个更远的地方。走的那天是3月26日，诗人海子的祭日。好多年轻人怀念他的诗句，“你为什么要远去，前面的日子空寂无声”。<br>
            <br>
            我想起那天在北京，徐砚美说的最后一句话。她笑着说：“我们为爱情付出了那么多，可它也从没有回报我们以安详。”</p>
    </div>
{% endblock %}

{% block script %}
    <script src="//cdn.bootcss.com/parallax.js/1.4.2/parallax.min.js"></script>

    <script>
        $(window).resize(function () {
            $('.spot').css({
                top: ($('.parallax-window').height() + 50) / 2 - $('.spot').height() / 2,
                left: $(window).width() / 2 - $('.spot').width() / 2,
            })
        });

        $(window).resize();
    </script>
{% endblock %}