{% extends "admin/_layout.twig" %}

{% block title %} Contents {% endblock %}

{% block page %}
    <div ng-app="app"
         ng-controller="ContentCtrl"
         ng-cloak>

        <p class="h2"
           ng-show="ifShowHeader(unrevealed)">
            Unrevealed
        </p>
        <contentlist data="unrevealed"></contentlist>

        <br>

        <p class="h2"
           ng-show="ifShowHeader(unrevealed) && ifShowHeader(revealed)">
            Revealed
        </p>
        <contentlist data="revealed"></contentlist>
    </div>
{% endblock %}