/* Global===================== */
body {
    word-break: break-all;
}

footer {
    background: #3a4145;
    color: #9ea8ad;
    padding: 2em 1em 1em 1em;
}

footer .left {
    text-align: left;
}

footer .right {
    text-align: right;
}

footer.brand {
    color: #69757c;
}

.cloak {
    display: none;
}

.navbar {
    background: rgba(0, 0, 0, 0.75);
    border: 0;
}

@media screen and (max-width: 768px) {
    footer * {
        text-align: center;
    }
}

/*loading animation-------------*/
.sk-spinner-pulse {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 75px;
    height: 75px;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
    animation: sk-pulseScaleOut 1s infinite ease-in-out;
}

@-webkit-keyframes sk-pulseScaleOut {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes sk-pulseScaleOut {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

/* home============================= */
.mask {
    fill: black;
    opacity: 0.65;
}

.home .list-group-item {
    margin: 1.5em 0 1.5em 0;
    padding: 0;
}

.home .list-group-item .content {
    padding: 0 15px 15px 15px;
}

.home .list-group-item .content .list-group-item-heading {
    margin-top: 1em;
}

.home .list-group-item .content h2,
#highlight h2 {
    margin-top: 0.25em;
}

#highlight {
    position: absolute;
    text-align: center;
    color: white;
    width: 360px;
}

#highlight a {
    color: white;
}

@media screen and (max-width: 520px) {
    #screen svg {
        display: none;
    }

    #highlight {
        text-align: left;
        width: auto;
        padding-right: 15px;
        text-shadow: 1px 1px 15px #2a323a,
        1px 1px 15px #2a323a,
        1px 1px 15px #2a323a;
    }
}

@media screen and (max-height: 350px) {
    #screen svg {
        display: none;
    }

    #highlight {
        width: auto;
        padding-right: 15px;
        text-shadow: 1px 1px 15px #2a323a,
        1px 1px 15px #2a323a,
        1px 1px 15px #2a323a;
    }
}

/*article*/
.parallax-window {
    background: transparent;
    margin-bottom: 2em;
}

.spot {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 15px #2a323a,
    1px 1px 15px #2a323a,
    1px 1px 15px #2a323a;
}

.article.container {
    max-width: 768px;
    margin: 2em auto 2em auto;
}

.article p {
    margin: 0 0 2em;
}

@media screen and (max-width: 520px) {
    .spot {
        text-align: left;
        padding-right: 15px;
    }
}