<div class="list-group">
    <a href="write?edit={{ id }}" class="list-group-item"
       ng-repeat="(id,item) in data">
        <h3 class="list-group-item-heading">
            {{ item.title }}
        </h3>
        <div class="list-group-item-text">
                       <span ng-class="{
                            'status':true,
                            'text-success':item.status=='published',
                            'text-warning':item.status=='draft',
                        }">
                            {{ status(item.status) }}
                           at
                           {{ time(item.created_at) }}
                        </span>

            <br>
            <p>{{ item.summary }}</p>

                        <span class="label label-default"
                              ng-repeat="tag in item.tags">
                            {{ tag }}
                        </span>
        </div>
    </a>
</div>